* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Escolher fonte e cor */
}

/* VERSÃO DESKTOP */

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

/* Formatação do menu */

header{
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 60px;
    border-radius: 50px;
}

.logo-tit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding: 0 20px;
    font-size: 32px;
}

nav {
    display: flex;
    flex-direction: row;  
}

ul{ 
    display: flex;
    list-style: none;
    padding: 0;
}
.img-seta{
    width: 12px;
}

/* Formatação de subMenu */

li{
    padding: 0 20px;
    position: relative;   
    font-size: 20px;   
}

li a{
    text-decoration: none;
   color: black;
}

li ul{
    visibility: hidden;
    list-style: none;
    opacity: 0;
    min-width: 5em;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    box-shadow: 0px 8px 16px #F2F2F2;
}

li a:hover{
    color: white; 
}

li a:focus{
    color: white;
}

li ul li{
    background-color: #F2F2F2;
    text-decoration: none;
    clear: both;
    width: 100%;
    padding: 10px;
}

ul li:hover, ul li:focus-within{
    background-color:#182D40;
    transition: 0.8s;
    border-radius: 10px;  
}

ul li:hover>ul, ul li:focus-within>ul, ul li ul:hover, ul li ul:focus{
  visibility: visible;
  opacity: 1;
  display: block;
}

/* Formatação do botão */

button{
    border-radius: 5px;
    font-size: 16px;
    width: 8rem;
    height: 2rem;
}
button:hover{
    background-color: #182D40;
    color: white;
    transition: 1s;
}

/* Formatação página index */

main{
    flex-grow: 1;
}

.corpo1{
    background-color: #285059;
}

.corpo2{
    background-color: #71D9CE;
}

.corpo3{
    background-color: #468C8C;
}

/* Formatação página sobre */

#sobre-titulo{
    text-align: center;
    margin: 80px 40px;
    color: #396f7c;
}

#sobre-nos{
    background-color: #95e9e0;
    padding: 28px 140px;
    color: #182D40;
    text-align: center;
    font-size: large;
}

#sobre-moradias{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
}

.imagem-sobre{
    width: 600px;
    height: auto;
}

#sobre-servicos{
    background-color: #5b9caa;
    padding: 20px;
}

#sobre-desempenho{
    padding: 20px;
}

/* Formatação do footer */
footer{
    height: 60px; 
    background-color: #F2F2F2;
    text-align: center;
    font-size: 20px;
}

.logo-sociais{
    width: 62px;
}
.logo-sociais1{
    width: 30px;
}
/* VERSÃO DISPOSITIVOS MÓVEIS */